    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>欢迎光临网络日记系统!</h1>
        <p>您可以自由的记录您的日记，不论是在家里还是在单位。</p>
        <p><a class="btn btn-info btn-lg" role="button" href="http://note.youdao.com/">了解更多 &raquo;</a></p>
      </div>
    </div>
<p><a class="btn btn-default btn-lg" role="button" href=<%= articles_path %>>进入日记系统</a></p>